
<%= render 'public/homes/header' %>

<div class= "box1">
<div class= "row">
<div class=b>
登録情報編集
</div>

<%= link_to "退会する", public_end_user_withdraw_path(current_end_user.id) %>


<% if @end_user.errors.any? %>
<div class="alert-alert-warining">
	<p class="error-count">
		<%= @end_user.errors.full_messages.count %>errors prohibited this end_user from being saved:</p>
		<ul>
			<% @end_user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= form_for(@end_user, url: public_end_user_path(current_end_user.id)) do |f| %>
	<table>
		<tr>
			<th><%= f.label :氏名 %></th>
			<td><%= f.text_field :name1 %></td>
			<th><%= f.text_field :name2 %></th>
		</tr>
		<tr>
			<th><%= f.label :カナ %></th>
			<td><%= f.text_field :name3 %></td>
			<td><%= f.text_field :name4 %></td>
		</tr>
		<tr>
			<th><%= f.label :郵便番号 %></th>
			<td><%= f.text_field :post %></td>
		</tr>
		<tr>
			<th><%= f.label :住所 %></th>
			<td><%= f.text_field :address %></td>
		</tr>
		<tr>
			<th><%= f.label :電話番号 %></th>
			<td><%= f.text_field :number %></td>
		</tr>
		<tr>
			<th><%= f.label :メールアドレス %></th>
			<td><%= f.text_field :email %></td>
		</tr>
	</table>
	<%= f.submit '編集内容を保存する',class: "col-xs-3 btn btn-success btn-lg" %>


	<% end %>

	</div>
 </div>

 
<style>
	.box1 {
		display: flex;
		justify-content: center;
		margin-top:100px;
		font-size: 4rem;
	}
	.b {
		font-size: 4rem;
		background-color: #e91e6321;
		text-align: center;
        border-radius: 20px; 
        margin-right: 900px;
        margin-left: 0px;
    }
</style>
