
<%= render 'public/products/sidemenu' %>
<div class= "row">
<div class="container2">
	<% @product_category.products.each do |products| %>
	<%= link_to public_product_path(products.id) do  %>

<div class="item2">
	<%= attachment_image_tag products, :product_image, :fill, 200, 200, fallback: "no_image.jpg",size:'200x200',format: 'no_image.jpg' %></div>
	<span><%= products.name %></span><br>
	<span><%= products.price %></span><br>
				<% end %>
				<% end %>
</div>













