<!DOCTYPE html>
<html>
<head>
<title>NaganoCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<font color="#871900">
<!-- ログインしている状態 -->
<header class= "page-header wrapper">
  <% if end_user_signed_in? %>
  <%= link_to public_product_categories_path do %>
  <ul class="img">
  <%= image_tag 'jpg2.jpg',size:'50x50' %></ul><spna><strong>Sweets</strong></span>
  <% end %>
  <nav>
<ul class="main-nav">
  <li><%= link_to "logout", destroy_end_user_session_path, method: :delete %></li>
  <li><%= link_to "about",  public_about_path %></li>
  <li><%= link_to "top",   public_product_categories_path %></li>
  <li><%= link_to "cart", public_cart_items_path %></li>
  <li><%= link_to "my page",public_end_users_path(current_end_user) %></li>
<%= current_end_user.name1 %>
<%= current_end_user.name2 %>さん、こんにちは
<br>
</ul>
</nav>


<!-- ログインしていない状態 -->
<% else %>
  <%= link_to public_product_categories_path do %>
  <%= image_tag 'jpg2.jpg',size:'50x50' %><span><strong>Sweets</strong></span>
  <% end %>
<nav>
<ul class="main-nav">
  <li><%= link_to "login", new_end_user_session_path  %></li>
  <li><%= link_to "sign up",  new_end_user_registration_path %></li>
  <li><%= link_to "about",  public_about_path %></li>
  <li><%= link_to "top",   public_product_categories_path %></li>
<% end %>
</ul>
</nav>
</header>
<%= yield %>
</body>
</html>
