<% unless current_end_user == @end_user %>

    <%= form_for(current_end_user.cart_items.build) do |f| %>
      <%= hidden_field_tag :product_id, @end_user.id %>
      <%= f.submit 'カートに入れる' %>
    <% end %>
<% end %>
 <% if flash[:success] %>
      <div class="flash">
        <%= flash[:success] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash">
        <%= flash[:alert] %>
      </div>
    <% end %>