
<div class= "box1">
<div class= "row">

<p>ショッピングカート</p>
<%= link_to "カートを空にする", destroy_all_public_cart_item_path(current_end_user.cart_items), method: :delete %>
<% @total = 0 %>
<table class="table">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
　　　　　<tr>
		<% current_end_user.cart_items.each do |item| %>
		
			<td><%= item.product.name %></td>
			<td><%= item.product.price %></td>
			<%= form_for(item, url: public_cart_item_path(item)) do |f| %>
			<td><%= f.number_field :quentity,class: "col-xs-7 btn btn-default btn-lg" %></td>
			<td><%= f.submit "変更" %></td>
			<% end %>

			<td><%= item.product.price * item.quentity %></td>

			<% @subtotal = item.product.price * item.quentity %>
			<% @total += @subtotal %>

			<td><%= link_to "削除", public_cart_item_path(item), method: :delete %></td>
		</tr>
	</tbody>
	<% end %>
</table>
<p>買い物を続ける</p>
<table>
	<tr><p>合計金額</p></tr>
    <td><%= @total %></td>
</table>
<%= link_to "情報入力画面に進む", new_public_order_path %>
</div>
</div>

<style>
	.box1 {
		display: flex;
		justify-content: center;
		margin-top:100px;
		font-size: 4rem;
	}
</style>










