<%= render 'public/homes/header' %>
<div class= "box1">
<div class= "row">
<div class=b>
ショッピングカート
</div>
<%= link_to "カートを空にする", destroy_all_public_cart_item_path(current_end_user.cart_items), method: :delete %>
<% @total = 0 %>
<table class="table">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>
	<tbody>
　　　　　<tr>
		<% current_end_user.cart_items.each do |item| %>

		<% tax = 1.1 %>
		<tr>

			<td><%= item.product.name %></td>
			<td><%= converting_to_jpy(item.product.price.floor) %>円</td>
			<%= form_for(item, url: public_cart_item_path(item)) do |f| %>
			<td><%= f.number_field :quentity,class: "col-xs-7 btn btn-default btn-lg" %></td>
			<td><%= f.submit "変更" %></td>
			<% end %>

			<td><%= converting_to_jpy(item.product.price * item.quentity.floor) %>円</td>

			<% @subtotal = item.product.price * item.quentity * tax %>
			<% @total += @subtotal %>

			<td><%= link_to "削除", public_cart_item_path(item), method: :delete %></td>
		</tr>
	</tbody>
	<% end %>
</table>
<%= link_to "買い物を続ける",public_product_categories_path %>
<table>
	<tr><p>合計金額</p></tr>
    <td><%= converting_to_jpy(@total.floor) %>円</td>
</table>
<%= link_to "情報入力画面に進む", new_public_order_path %>
</div>
</div>

<style>
	.box1 {
		display: flex;
		justify-content: center;
		margin-top:100px;
		font-size: 4rem;
	}
	.b {
		font-size: 4rem;
		background-color: #e91e6321;
		text-align: center;
        border-radius: 20px; 
        margin-right: 400px;
    }
</style>










