<ul>
	<li><%= link_to "商品一覧", admin_products_path %></li>
	<li><%= link_to "会員一覧", admin_end_users_path %></li>
	<li><%= link_to "注文履歴一覧", admin_orders_path %></li>
	<li><%= link_to "ジャンル管理", admin_product_categories_path %></li>
</ul>

<h1>管理者画面</h1>
<p>本日の注文件数 <%= link_to "●", admin_orders_path %> 件</p>

<%= link_to "logout", destroy_admin_session_path, method: :delete %>
