<h1>会員編集画面</h1>

  <% if @end_user.errors.any? %>
   <div class="alert-alert-warining">
	<p class="error-count">
		<%= @end_user.errors.full_messages.count %>errors prohibited this end_user from being saved:</p>
		<ul>
			<% @end_user.errors.full_messages.each do |message| %>
			  <li><%= message %></li>
			<% end %>
		</ul>
   </div>
  <% end %>

<p>会員ID <%= @end_user.id %></p>

<%= form_for(@end_user, url: admin_end_user_path(@end_user)) do |f| %>
	<p>氏名</p>
		<%= f.text_field :name1 %>
		<%= f.text_field :name2 %>
	<p>カナ</p>
		<%= f.text_field :name3 %>
		<%= f.text_field :name4 %>
	<P>郵便番号</P>
		<%= f.text_field :post %>
	<p>住所</p>
		<%= f.text_field :address %>
	<p>電話番号</p>
		<%= f.text_field :number %>
	<p>メールアドレス</p>
		<%= f.text_field :email %>
	<p>会員ステータス</p>

		<div><%= f.radio_button(:deleted_at, "有効") %>
		<%= f.label(:deleted_at, "有効", value: "有効") %></div>
		<div><%= f.radio_button(:deleted_at, "退会済み") %>
		<%= f.label(:deleted_at, "退会済み", value: "退会済み") %>
		</div>
	<br>
	<%= f.submit '変更を保存する' %>
<% end %>