<!-- ヘッダー部分 -->
<%= render 'admin/products/header', products: @products %>

<div class="container">
	<div class="row">
		<h3>商品　新規登録画面</h3><br>
		<!-- 商品登録フォーム -->
		<%= form_for(@product, url: admin_products_path) do |f| %>
		<div class="col-xs-3">
			<%= f.attachment_field :product_image %>
			<h4>画像選択</h4>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<h4>商品名</h4>
				<%= f.text_field :name %>

				<h4>商品説明</h4>
				<%= f.text_field :product_body %>

				<h4>ジャンル</h4>
				<%= f.collection_select :product_category_id, ProductCategory.all, :id, :product_category_name %>

				<h4>税抜価格</h4>
				<%= f.text_field :price %>円

				<h4>販売ステータス</h4>
				<%= f.select :sale_status, {販売中: '販売中', 売切れ: '売切れ'} %><br><br>
				<%= f.submit '新規登録' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
