<!-- ヘッダー部分 -->
<%= render 'admin/products/header', products: @products %>

<div class="container">
	<div class="row">
		<h3>商品詳細画面</h3><br>
			<div class="col-xs-3">
				<%= attachment_image_tag @product, :product_image, :fill, 240, 170, format:'jpeg' %>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<h4>商品名</h4>
					<div><%= @product.name %></div>

					<h4>商品説明</h4>
					<div><%= @product.product_body %></div>

					<h4>ジャンル</h4>
					<div><%= @product.product_category.product_category_name %></div>

					<h4>税込価格（税抜価格）</h4>
					<% tax = 1.1 %>
					<% price = @product.price %>
					<% total_price = tax * price %>
					<div><%= converting_to_jpy(total_price.floor) %>(<%= converting_to_jpy(@product.price) %>)円</div>

					<h4>販売ステータス</h4>
					<div><%= @product.sale_status %></div>
					<br>
					<%= link_to "編集する", edit_admin_product_path(@product.id) %>
				</div>
			</div>
	</div>
</div>

