<h1>注文確認情報</h1>
<%= form_for(@order_item, url: public_orders_path) do |f| %>
<% @total = 0 %>

<table>
<thead>
	<tr>
		<th>商品名</th>
		<th>単価(税込)</th>
		<th>数量</th>
		<th>小計</th>
	</tr>
</thead>
<tbody>
		<% current_end_user.cart_items.each do |item| %>
		<tr>
			<td><%= item.product.name %></td>
			<td><%= converting_to_jpy(item.product.price.floor) %>円</td>
			<td><%= item.quentity %>個</td>
			<td><%= converting_to_jpy(item.product.price * item.quentity) %>円</td>
			<% @subtotal = item.product.price * item.quentity %>
			<% @total += @subtotal %>
		</tr>
		<tr>
			<% end %>
			<th>送料</th>
			<td><%= @postage %>円</td>

			<th>合計金額</th>
			<td><%= converting_to_jpy(@total.floor) %>円</td>

			<th>請求金額</th>
			<td><%= converting_to_jpy(@total += @postage.floor) %>円</td>
		</tr>
</tbody>
</table>
<% end %>

<%= form_for(@order, url: public_orders_path) do |a| %>
<h3>支払い方法</h3>
<%= @payment %>
<%= a.hidden_field :payment %>

<h3>お届け先</h3>
<%= @order_delivery %>
<%= a.hidden_field :Delivery_address, :value => @order_delivery %>
<% @postage %>
<%= a.hidden_field :postage, :value => "800" %>
<%= a.hidden_field :order_status, :value => "入金待ち" %>
<%= a.submit "注文を確定する" %>
<% end %>


