<%= render 'public/homes/header' %>
<div class ="box50">
	<div class ="b">
	注文情報確認ページ
</div>
	購入情報入力
	支払い方法
<%= form_for(@order, url: confirm_public_orders_path) do |a| %>
<%= a.radio_button(:payment, "クレジットカード", checked: true) %>クレジットカード
<%= a.radio_button(:payment, "銀行振り込み") %>銀行振り込み
<h3>お届け先</h3>
<!-- 自分の住所を選択 -->
<%= radio_button_tag(:Delivery_info, "1", checked: true) %>ご自身の住所<br>
<table class= "table" >
	<tr>
		<th>郵便番号</th>
		<td>〒<%= current_end_user.post %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= current_end_user.address %></td>
	</tr>
	<tr>
		<th>氏名</th>
		<td><%= current_end_user.name1 %><%= current_end_user.name2 %></td>
	</tr>
</table>
<br>
<%= radio_button_tag(:Delivery_info, "2") %>登録済みの住所を選択
<%= a.select :Delivery_address, @a %>
<br>
<br>
<%= radio_button_tag(:Delivery_info, "3") %>新しい配達先を登録
<table>
	    <tr>
			<th><%= a.label :郵便番号 %></th>
		    <td><%= text_field_tag :Delivery_post %></td>
	    </tr>
		<tr>
			<th><%= a.label :住所 %></th>
			<td><%= text_field_tag :Delivery_address %></td>
		</tr>
		<tr>
			<th><%= a.label :宛名 %></th>
			<td><%= text_field_tag :delivery_name %></td>
		</tr>
  </table>


<%= link_to "配送先を追加する", delivery_public_end_user_path(current_end_user) %>
<br>
<%= a.submit "確認画面へ進む",class: "col-xs-3 btn btn-success btn-lg" %>
<% end %>
</div>





<style>
.box50 {
	justify-content: center;
	margin: 300px;
	margin-top:100px;
	font-size: 2.6rem;
	padding:30px;
}
th {
	font-weight: normal
}


input[type=radio] {
	width: 30px;
	height: 100px;
	vertical-align: middle;

}
	
	.b {
		display: flex;
	    justify-content: center;
		font-size: 4rem;
		background-color: #e91e6321;
		text-align: center;
        border-radius: 20px; 

    }
</style>
