<%= render 'public/homes/header' %>
<div class= "box1">
<div class= "row">
<div class=b>
購入情報入力
</div>
<font3>支払い方法</font3>
<%= form_for(@order, url: confirm_public_orders_path) do |a| %>
<%= a.radio_button(:payment, "クレジットカード") %>クレジットカード

<%= a.radio_button(:payment, "銀行振り込み") %>銀行振り込み

<font3><p>お届け先</p></font3>
<!-- 自分の住所を選択 -->
<%= a.radio_button(:Delivery_address, @b) %>ご自身の住所<br>


<table>
	<tr>
		<div class="box5">
		<th><p>郵便番号</p></th>
		<td><p>〒<%= current_end_user.post %></p></td>
	</tr>
	<tr>
		<th><p>住所</p></th></p>
		<td><p><%= current_end_user.address %></p></td>
	</tr>
	<tr>
		<th><p>氏名</p></th>
		<td><p><%= current_end_user.name1 %><%= current_end_user.name2 %></p></td>
		</div>

	</tr>
</table>


<div>
<%= radio_button_tag(:Delivery_info, "2") %>登録済みの住所を選択
</div>


<%= a.select :Delivery_address, @a %>


<%= link_to "配送先を追加する", delivery_public_end_user_path(current_end_user) %>
<br>
 <%= a.submit '確認画面へ進む',class: "col-xs-5 btn btn-success btn-lg" %>

<% end %>
<!--%= link_to "確認画面へ進む", confirm_public_orders_path %-->
</div>
</div>


<style>
.box1 {
	display: flex;
	justify-content: center;
	margin-top:100px;
	font-size: 3.6rem;
	margin-left: -700px;
}
th {
	font-weight: normal
}

font3{
	font-weight: bold

}

input[type=radio] {
	width: 30px;
	height: 100px;
	vertical-align: middle;

}
	.box5{
		margin-top:-30px;
	}


	.b {
		font-size: 4rem;
		background-color: #e91e6321;
		text-align: center;
        border-radius: 20px; 
        margin-right: 400px;
    }
</style>
