<h1>注文情報確認ページ</h1>

<h3>購入情報入力</h3>
<h3>支払い方法</h3>
<%= form_for(@order, url: confirm_public_orders_path ) do |a| %>
<%= a.radio_button(:payment, "クレジットカード") %>クレジットカード

<%= a.radio_button(:payment, "銀行振り込み") %>銀行振り込み

<h3>お届け先</h3>
<!-- 自分の住所を選択 -->
<%= a.radio_button(:Delivery_address, @b) %>ご自身の住所<br>
<table>
	<tr>
		<th>郵便番号</th>
		<td>〒<%= current_end_user.post %></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><%= current_end_user.address %></td>
	</tr>
	<tr>
		<th>氏名</th>
		<td><%= current_end_user.name1 %><%= current_end_user.name2 %></td>
	</tr>
</table>


<%= link_to "配送先を追加する", delivery_public_end_user_path(current_end_user) %>
<br>
<%= a.submit "確認画面へ進む" %>
<% end %>
<!--%= link_to "確認画面へ進む", confirm_public_orders_path %-->
